<div>
  <h2>Probando Lottie con Conexión a Internet</h2>
</div>

<lottie-animation-view [ngStyle]="{'display': status !== 'OFFLINE' ? 'block' : 'none' }"
  [options]="lottieConfig"
  [width]="300"
  [height]="600"
  (animCreated)="handleAnimation($event)">
</lottie-animation-view>

<div *ngIf="status !== 'OFFLINE' ">
  Hay conexión...  :) 
</div>

<lottie-animation-view [ngStyle]="{'display': status == 'OFFLINE' ? 'block' : 'none' }"
    [options]="lottieConfigDisconnected"
    [width]="300"
    [height]="600"
    (animCreated)="handleAnimation($event)">
</lottie-animation-view>

<div *ngIf="status == 'OFFLINE' ">
  Se perdió la conexión...  :( 
</div>
